.chatbox {
    background-color: #d4cdcd;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    opacity: 0; 
    transform: translateY(20px); 
    visibility: hidden; 
}


.chatbox.open {
    opacity: 1; 
    transform: translateY(0); 
    visibility: visible; 
}

.close-button {
    color: black; 
    
}

.close-button:hover {
    color: black; 
}
